


<div class="col-md-6">
    <nb-card>
      <nb-card-header>Client Master</nb-card-header>
      <nb-card-body>
        <form>
            <div class="form-group">
                <label for="ClientName">Client Name</label>
                <input type="text" class="form-control" id="ClientName" placeholder="clientName">
              </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="phoneNumber">
          </div>
          <button type="submit" class="btn btn-danger">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
    </div>
